* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    scroll-behavior: smooth;
}

:root {
    --primaria: #0900ad;
    --secundaria: #7c3aed;
    --escuro: #0f172a;
    --maisEscuro: #0a0f1c;
    --claro: #e2e8f0;
    --vidro: rgba(255, 255, 255, 0.1);
}

body {
    background-color: var(--escuro);
    color: var(--claro);
}

.light {
    background-color: var(--claro);
    color: var(--escuro);
}

#btn-tema {
    position:fixed;
    right: 0;
    top: 0;
    background-color: #7c3aed;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#btn-linkedin {
    position: relative;
    left: 0;
    top: 0;
    color: white;
    background-color:#4f46e5;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#btn-github {
    position: relative;
    left:0;
    top:0;
    color: white;
    background-color:#4f46e5;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.menu {
    position: relative;
    top: 0;
    background: rgba(15, 23, 42, 0.8);
    width: 100%;
    z-index: 100;
    padding: 1.5rem;
}

.itens {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 3rem;
}


.itens-link {
    text-decoration: none;
    color: var(--claro);
    font-weight: 500;
    position: relative;
    padding: 0.5rem 0;
}

.itens-link::after {
    content: '';
    height: 2px;
    width: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(90deg, var(--primaria), var(--secundaria));
    transition: width 0.5s ease;
}

.itens-link:hover::after {
    width: 100%;
}

.cabecalho {
    min-height: 10vh;
    display: flex;
    justify-content:center;
    align-items:baseline;
    flex-direction:column;
}

.foto-perfil {
    width: 200px;
    height: 200px;
    box-shadow: 0 0 20px rgba(79, 70, 229, 0.3);
    border-radius: 50%;
    border: 4px solid var(--vidro);
}

.h1 {
    font-size: 3.5rem;
    color:var(--primaria);
    font-weight: bold;
    margin: 20px;
}

h3, h2 {
    font-size: 2.0rem;
    color:var(--secundaria);
    font-weight: bold;
    margin: 20px;
}

.info {
    margin: 20px;
    font-size: 1.5rem;
}

.info-paragrafo {
    margin: 20px;
    font-size: 1rem;
}

.sobre-caixa {
    padding: 2rem;
    max-width: 600px;
    border-radius: 16px;
    border: 1px solid var(--vidro);
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.05);
}

.img-totem {
    width: 350px;
    height: 350px;
    margin: 20px;
}

.funcs {
    margin:20px;
}